/* ### contains forms on contact, register and account pages ### */


/* ##### mobile first ##### */

html,
body {
    height: 100vh;
    min-height: 100vh;
}


/* contact form */

#newsContent,
#accountContent {
    margin-top: 100px;
    position: relative;
}

#newsContent h1,
#registerContent h1 {
    padding: 5vw;
}

form,
form div {
    width: 70vw;
    margin: 0 auto;
    position: relative;
}

form div input,
form div textarea {
    outline: none;
    width: 100%;
    padding: 0.5rem;
    line-height: 1.6;
    margin: 1rem auto 1rem auto;
    border: 1px solid #418C9F;
    border-radius: 2px;
}

form div span {
    position: absolute;
    top: 2.5rem;
    right: -2.5rem;
}

form div input[type="number"]+span {
    top: 1.5rem;
}

form div span .iconfont {
    font-size: 2rem;
}

form div span .icon-correct {
    color: #F00;
}

form div span .icon-wrong {
    color: #0F0;
}

#acceptNews {
    position: relative;
}

#acceptNews input[type='radio'] {
    width: 1rem;
    height: 1rem;
}

form div:last-of-type {
    text-align: center;
}

form div input[type="submit"] {
    display: inline-block;
    width: auto;
    padding: 0.5rem 3rem;
    text-transform: uppercase;
    border: none;
    background-color: #418C9F;
    color: #FFF;
}


/* register form */

.hero .heroImg {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}

.hero .heroImg img {
    width: 150%;
    margin-left: -20%;
}

#registerForm input[type="number"] {
    width: auto;
}


/* Account form */

#accountContent {
    width: 90vw;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
}

#accountContent h1 {
    padding: 2rem 0;
}

#accountContent div,
#accountForm {
    width: 90vw;
}

.accountList {
    padding: 1rem 0;
    border-top: 1px solid #418C9F;
    border-bottom: 1px solid #418C9F;
}

.accountList ul li {
    padding: 0.5rem 0;
}

.accountList ul li a {
    color: #000;
}

.accountList ul li.present a {
    border-bottom: 1px solid #000;
}

.accountList ul li:nth-child(1)::after {
    content: "\e617";
    font-family: "iconfont" !important;
    font-size: 0.4rem;
    padding-left: 0.2rem;
}

.accountList ul li:nth-child(n+2) {
    display: none;
}

#accountForm input[type="radio"] {
    width: auto;
}

#accountForm #genderF,
#accountForm #others {
    margin-left: 1rem;
}

#accountForm .streetInfo {
    overflow: hidden;
}

#accountForm .huisnummer {
    width: 30vw;
    float: left;
}

#accountForm .post {
    width: 50vw;
    float: right;
    text-align: left;
}

#accountForm div:last-of-type {
    text-align: left;
}

#accountForm div input[type="submit"] {
    width: 100%;
}


/* ##### tablet ##### */

@media screen and (min-width:768px) {
    .hero .heroImg {
        height: 80vw;
    }
    form,
    form div {
        width: 60vw;
    }
    form h1 {
        padding: 5vw 15vw;
    }
    /* account form */
    .accountList ul {
        display: flex;
        justify-content: space-around;
    }
    .accountList ul li:nth-child(n+2) {
        display: block;
    }
    .accountList ul li:nth-child(1)::after {
        content: '';
    }
    #comname,
    #birthday,
    #tel {
        width: 43vw;
    }
    #accountForm .username,
    #accountForm .streetInfo,
    #accountForm .land,
    #accountForm .emailInfo,
    #accountForm .passwordInfo {
        display: flex;
        gap: 1rem;
    }
    #accountForm .land {
        align-items: center;
    }
    #accountForm .passwordInfo {
        align-items: end;
        margin-bottom: 3rem;
    }
}


/* ##### desktop ##### */

@media screen and (min-width:1280px) {
    .hero .heroImg {
        width: 40vw;
        height: 30vw;
        float: right;
        margin: 11rem 5vw;
    }
    form,
    form div {
        width: 50vw;
    }
    form h1 {
        padding: 5vw 25vw;
    }
    #registerForm {
        width: 40vw;
        float: left;
    }
    #registerForm div {
        width: 35vw;
        margin: 0 5vw;
    }
    /* account form */
    #accountContent .accountList {
        width: 20vw;
        float: left;
        margin-top: 200px;
        border: none;
    }
    #accountContent .accountList ul {
        flex-direction: column;
    }
    #accountContent .accountList ul li:first-child {
        border-top: 1px solid #418C9F;
    }
    #accountContent .accountList ul li {
        padding: 1rem;
        border-bottom: 1px solid #418C9F;
    }
    .accountList+h1,
    #accountContent #accountForm {
        width: 60vw;
        float: right;
    }
    #accountForm div {
        width: 100%;
    }
}